# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
.venv/
venv/

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb_checkpoints

# Distribution / packaging
*.whl

# Testing
.pytest_cache/
.coverage

# IDE
.vscode/*.code-workspace
.idea/
*.iml

*.csv

# plotting and figures
*.png
*.odg
plots/

# local
_local/
_discussion.md
_output.md
SOLUTIONS*.*
.claude/
CLAUDE.md